<div id="<%= dom_id candidature %>">
  <div class="flex flex-col text-sm justify-start flex-wrap gap-2">
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Código de inscripción:</span>
      <%= candidature.codeInscription %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Fecha de inscripción:</span>
      <%= candidature.dateInscription %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Municipuo:</span>
      <%= candidature.municipality.name %>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Candidato:</span>
      <%= candidature.candidate.name %>
    </div>
    <div class="flex flex-col flex-wrap gap-2">
      <span class="font-medium">Partidos:</span>
      <div class="flex flex-col pl-2">
        <% @candidature.parties.each_with_index do |party, index| %>
          <ul>
            <li><%= "#{index + 1}. #{party.name}" %></li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <span class="font-medium">Periodo:</span>
      <%= candidature.period.display_name %>
    </div>
  </div>
</div>
